* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
div.flag {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: royalblue;
  margin-top: 5px;
  float: right;
  margin-right: 5px;
}
div.flag.none {
  display: none;
}
p.header {
  margin: 5px;
  font-size: 11px;
  color: gray;
}
p.messageUser {
  float: left;
}
p.messagetime {
  float: right;
  color: gray;
  font-size: 11px;
}
p.messageText {
  clear: both;
}
img.avatar {
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
p.userName {
  float: left;
}
div.chatInfo {
  float: right;
  width: 100%;
  margin-left: -50px;
  padding-left: 50px;
}
div.chatInfo p.messageText {
  overflow: hidden;
  white-space: nowrap;
}
html {
  height: 100%;
}
html body {
  height: 100%;
}
html body div.content {
  height: 100%;
}
html body div.content div.auth {
  padding: 10px;
  height: 50px;
  background: royalblue;
  color: white;
}
html body div.content div.auth button {
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px;
  float: right;
  background: none;
  color: white;
  border: 1px white solid;
}
html body div.content div.info {
  height: 100%;
  font-size: 13px;
  margin-top: -50px;
  padding-top: 50px;
}
html body div.content div.info div.left-side {
  width: 35%;
  float: left;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px gray solid;
}
html body div.content div.info div.left-side ul li {
  cursor: pointer;
  padding: 10px;
  height: 60px;
}
html body div.content div.info div.left-side ul li.currentChat {
  background: #f1f1f1;
}
html body div.content div.info div.left-side ul li:hover {
  background: #f1f1f1;
}
html body div.content div.info div.right-side {
  width: 65%;
  float: left;
  position: relative;
  height: 100%;
}
html body div.content div.info div.right-side ul {
  overflow-y: scroll;
  height: 90%;
  padding-top: 10px;
}
html body div.content div.info div.right-side ul li {
  clear: both;
  float: left;
  display: block;
  max-width: 90%;
  padding: 10px;
  background: #f1f1f1;
  list-style: none;
  margin-bottom: 10px;
  min-width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
html body div.content div.info div.right-side ul li p.messageText {
  word-wrap: break-word;
  white-space: pre-wrap;
}
html body div.content div.info div.right-side ul li p.messageUser {
  color: gray;
  font-size: 11px;
}
html body div.content div.info div.right-side ul li.yourMessage {
  float: right;
}
html body div.content div.info div.right-side form {
  position: absolute;
  width: 100%;
  clear: both;
  bottom: 0;
  padding: 15px;
  height: 10%;
}
html body div.content div.info div.right-side form input {
  padding: 5px;
  width: 90%;
  border: 1px gray solid;
}
html body div.content div.info div.right-side form button {
  padding: 5px;
  border: 1px gray solid;
  color: black;
  background: none;
  width: 10%;
}
