@import (multiple) "./vars/sizes.less";
@import (multiple) "./vars/colors.less";

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

div.flag
{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: @clr-header;
	margin-top: 5px;
	float: right;
	margin-right: 5px; 

	&.none
	{
		display: none;
	}
}

p.header
{
	margin: 5px;
	font-size: @small-font;
	color: @clr-border;
}

p.messageUser
{
	float: left;
}

p.messagetime
{
	float: right;
	color: @clr-border;
	font-size: @small-font;
}

p.messageText
{
	clear: both;
}

img.avatar
{
	float: left;
    margin-right: @standart-gap;
	width: 40px;
    height: 40px;
    border-radius: 50%;
}

p.userName
{
	float: left;
}

div.chatInfo    
{
	float: right;
    width: 100%;
    margin-left: -50px;
    padding-left: 50px;

	p.messageText
	{
		overflow: hidden;
		white-space: nowrap;
	}
}

html 
{
	height: 100%;

	body
	{
		height: 100%;

		
		div.content
		{
			height: 100%;

			div.auth
			{
				padding: @standart-gap;
    			height: 50px;
				background: @clr-header;
				color: white;

				button
				{
					padding: 3px;
					padding-left: 20px;
					padding-right: 20px;
					margin-left: 15px;
					float: right;
					background: none;
					color: white;
					border: 1px white solid;
				}
			}

			div.info
			{
				height: 100%;
    			font-size: @normal-font;
				margin-top: -50px;
				padding-top: 50px;

				div.left-side
				{
					width: 35%;
					float: left;
					height: 100%;
					overflow-y: scroll;

					ul
					{
						li 
						{
							cursor: pointer;
							padding: @standart-gap;
							height: 60px;
						}

						li.currentChat
						{
							background: @clr-msg;
						}

						li:hover
						{
							background: @clr-msg;
						}
					}

				}

				div.right-side
				{
					width: 65%;
					float: left;
					position: relative;
					height: 100%;
					border-left: 1px @clr-border solid;

					ul 
					{
						overflow-y: scroll;
    					height: 90%;
						padding-top: @standart-gap;

						li
						{
							clear: both;
							float: left;
							display: block;
							max-width: 90%;
							padding: @standart-gap;
							background: @clr-msg;
							list-style: none;
							margin-bottom: @standart-gap;
							min-width: 50%;
							margin-left: @standart-gap;
							margin-right: @standart-gap;
							
							p.messageText
							{
								word-wrap: break-word;
								white-space: pre-wrap;
							}

							p.messageUser
							{
								color: @clr-border;
								font-size: @small-font;
							}

						}

						li.yourMessage
						{
							float: right;
						}

					}

					form
					{
						position: absolute;
						width: 100%;
						clear: both;
						bottom: 0;
						padding: 15px;
						height: 10%;

						input
						{
							padding: 5px;
							width: 90%;
							border: 1px @clr-border solid;
						}
						button
						{
							padding: 5px;
							border: 1px @clr-border solid;
							color: black;
							background: none;
							width: 10%;
						}
					}
				}
			}

			

			
		}
	}
}
